{
  "log": {
    "_recordingName": "default-tools-requests",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0f05be16e807e9f92fc1461651038dbc",
        "request": {
          "headers": [
            {
              "name": "x-github-api-version",
              "value": "2022-11-28"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/repos/Kampfkarren/selene/releases"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 357507,
            "text": "[{\"url\":\"https://api.github.com/repos/Kampfkarren/selene/releases/194572759\",\"assets_url\":\"https://api.github.com/repos/Kampfkarren/selene/releases/194572759/assets\",\"upload_url\":\"https://uploads.github.com/repos/Kampfkarren/selene/releases/194572759/assets{?name,label}\",\"html_url\":\"https://github.com/Kampfkarren/selene/releases/tag/0.28.0\",\"id\":194572759,\"author\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"node_id\":\"RE_kwDODKNQy84LmPHX\",\"tag_name\":\"0.28.0\",\"target_commitish\":\"bd7d3bdacf465e11b4ea5d9982ac88ba47522715\",\"name\":\"[0.28.0] - 2025-01-09\",\"draft\":false,\"prerelease\":false,\"created_at\":\"2025-01-14T03:01:17Z\",\"published_at\":\"2025-01-14T03:06:00Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/Kampfkarren/selene/releases/assets/220242393\",\"id\":220242393,\"node_id\":\"RA_kwDODKNQy84NIKHZ\",\"name\":\"selene-0.28.0-linux.zip\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"application/zip\",\"state\":\"uploaded\",\"size\":3692656,\"download_count\":66996,\"created_at\":\"2025-01-14T03:06:01Z\",\"updated_at\":\"2025-01-14T03:06:01Z\",\"browser_download_url\":\"https://github.com/Kampfkarren/selene/releases/download/0.28.0/selene-0.28.0-linux.zip\"},{\"url\":\"https://api.github.com/repos/Kampfkarren/selene/releases/assets/220242409\",\"id\":220242409,\"node_id\":\"RA_kwDODKNQy84NIKHp\",\"name\":\"selene-0.28.0-macos.zip\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.gi[...]
